*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}


header{
    width:100vw;
    height:10vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 1vw;
    gap:20px;
    background-color: lightgrey;
}

.container-header{
    display:flex;
    flex-direction: row;
    align-items:center;
}
.logo-box{
    width: 60px;
    /* google */
    height: auto;
}

#search.button{
    display: flex;
    gap:5px;
    padding-left: 2px;
}

.nav-border{
    display:flex;
    border:5px solid lightblue;
    border-radius: 10px;
    flex-direction: row;
    font-style: oblique;
    color:black;
}

nav{
    display:flex;
    gap:25px;
}

main{
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
}

.top-section{
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: row;
    margin-left: 25vw;
    margin-top: 5px;
    border: 10px solid lightgrey;
    margin-bottom: 5px;
}

.img{
    width: 30vw;
    height: 100%;
}

.footer-font{
    color:black;
    display:flex;
    flex-direction: column;
}

footer{
    display:flex;
    flex:1;
    justify-content: space-evenly;
    border-top: 5px solid black;
}
