*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

header{
    width:100vw;
    height:13vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    gap:2vw;
    background-color: #87CEFA;
}

.container-header{
    display:flex;
    flex-direction: row;
    align-items:center;
}
.logo-box{
    width: 4vw;
    height: 4vh;
}

#search.button{
    display: flex;
    gap:5px;
    padding-left: 2px;
}